// =============================================
// ======== General styles
// =============================================

html,
body {
	font-family: "Work Sans";
	color: $main-black-color;
	background-color: #f4f5fc;
}
