// =============================================
// General styles
// =============================================

html,
body {
	font-family: "Work Sans";
	color: #111111;
	background-color: #f4f5fc;
}
