@import "./utils/fonts.scss";
@import "./utils/variables.scss";
@import "./utils/global.scss";
@import "./utils/reset.scss";

@import "./animations.scss";

// ==============================
.section {
	position: relative;
	width: 100%;
	max-width: 665px;
	min-width: 320px;
	height: 480px;
	background-color: #ffffff;
	display: flex;
	z-index: 2;

	@media (max-width: 500px) {
		display: block;
		height: auto;
	}

	* select {
		color: $main-black-color;
	}

	// =============== animated svg style ===============
	#my-svg {
		position: absolute;
		z-index: -1;
		left: 53.83%;
		right: -15.64%;
		top: 26.2%;
		bottom: -11.64%;

		@media (max-width: 665px) {
			display: none;
		}
	}

	#my-svg * {
		fill-opacity: 0;
		transition: fill-opacity 1s;
	}

	#my-svg.finished * {
		fill-opacity: 1;
		fill: #f9faff;
		stroke: none;
	}
	// =============== /animated svg style ===============

	&__left {
		position: relative;
		max-width: 137px;
		width: 100%;
		background-color: $blue-color;

		@media (max-width: 600px) {
			display: none;
		}
	}

	&__left h1 {
		position: absolute;
		right: 20%;
		left: 66%;
		top: calc(50% - 75px + 252px);
		white-space: nowrap;
		transform: rotate(-90deg);
		font-family: "PT Sans", sans-serif;
		font-size: 49px;
		line-height: 63px;
		letter-spacing: 0.5px;
		color: #ffffff;

		@media (max-width: 600px) {
			top: calc(50% - 150px);
		}
	}

	&__right {
		width: 528px;
		padding: 40px 22px 32px 20px;

		@media (max-width: 600px) {
			width: 100%;
		}

		@media (max-width: 500px) {
			padding-top: 15px;
		}
	}
}

.form-section {
	&__header {
		margin-bottom: -2px;
		font-size: 22px;
		line-height: 26px;
		letter-spacing: -0.46px;
		font-weight: 600;
		// =============== prevent text overflow
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		@media (max-width: 500px) {
			font-size: 26px;
			margin-bottom: 0px;
		}
	}

	&__text {
		margin-bottom: 16px;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: normal;
		word-spacing: -1.5px;
		// =============== prevent text overflow
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		@media (max-width: 500px) {
			font-size: 18px;
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 350px;

	@media (max-width: 500px) {
		min-height: 100vh;
	}

	&__top-section {
		height: 216px;
	}

	&__block {
		height: 42px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 12px;

		@media (max-width: 500px) {
			grid-template-columns: 1fr;
			height: 120px;
			grid-row-gap: 16px;
		}

		&:nth-of-type(3) {
			@media (max-width: 665px) {
				grid-template-columns: 1fr;
				height: 96px;
				grid-row-gap: 16px;
			}
		}

		.animated {
			opacity: 0;
		}

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		.email-block {
			position: relative;
		}

		.check-icon {
			position: absolute;
			right: 0;
			top: 55%;
			z-index: 3;

			@media (max-width: 500px) {
				top: 45%;
			}

			&.hidden {
				display: none;
			}

			&.visible {
				display: block;
			}
		}

		.validate-block {
			position: relative;

			.error-field {
				position: absolute;
				left: 0;
				bottom: -15px;
				color: $error-color;
				font-size: 10px;

				@media (max-width: 500px) {
					font-size: 14px;
				}
			}
		}

		& > div {
			padding: 0;
			margin: 0;
			width: 100%;
			max-width: 237px;

			@media (max-width: 600px) {
				max-width: 100%;
			}

			label {
				font-size: 12px;
				line-height: 14px;
				max-width: 237px;
				color: $label-color;
				word-spacing: -2px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				@media (max-width: 500px) {
					font-size: 14px;
				}
			}

			input[type="text"],
			input[type="email"],
			input[type="password"] {
				margin-bottom: 5px;
				padding-left: 1px;
				padding-top: 4px;
				width: 100%;
				border: none;
				font-size: 14px;
				line-height: 16px;
				font-weight: 500;
				background-color: transparent;

				@media (max-width: 500px) {
					font-size: 18px;
				}

				&:focus,
				&:active {
					outline: none;
				}
			}

			select {
				padding: 0px;
				padding-top: 4px;
				width: 100%;
				border: none;
				font-size: 14px;
				line-height: 16px;
				font-weight: 500;
				background-color: transparent;
				appearance: none;
				background-image: url("../images/arrow.svg");
				background-repeat: no-repeat;
				background-position: 99% 60%;
				background-size: auto;
				cursor: pointer;

				@media (max-width: 500px) {
					font-size: 18px;
				}

				&:focus,
				&:active {
					outline: none;
				}
			}

			&:not(.no-border) {
				border-bottom: 1px solid $border-color;
			}
		}

		&-gender {
			position: relative;
			margin-top: 4px;
			display: flex;
			align-items: center;

			input[type="radio"] {
				position: absolute;
				opacity: 0;
				width: 0;
				height: 0;
			}

			input ~ label {
				margin-left: 6px;
				font-size: 14px;
				line-height: 16px;
				font-weight: 500;
				color: $main-black-color;
				cursor: pointer;

				@media (max-width: 500px) {
					font-size: 18px;
				}
			}

			label:not(:last-child) {
				margin-right: 20px;
			}

			// ==== create custom radio button
			.checkmark {
				display: inline flex;
				position: relative;
				height: 12px;
				width: 12px;
				border: 0.7px solid $blue-color;
				border-radius: 50%;
			}

			.checkmark:after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 6px;
				height: 6px;
				background-color: $blue-color;
				border-radius: 50%;
				display: none;
			}

			input[type="radio"]:checked + .checkmark:after {
				display: block;
			}
			// ==== /create custom radio button
		}

		&-date {
			display: flex;
			gap: 10px;

			div[data-name="date"] {
				flex-basis: 56px;
				padding-bottom: 6px;
				border-bottom: 1px solid $border-color;
			}

			div[data-name="month"] {
				flex-basis: 91px;
				border-bottom: 1px solid $border-color;
			}

			div[data-name="year"] {
				flex-basis: 68px;
				border-bottom: 1px solid $border-color;
			}
		}
	}

	&__bottom-section {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 450px) {
			flex-direction: column-reverse;
			gap: 20px;
		}

		span {
			position: relative;
			top: -1px;
			font-size: 13px;
			line-height: 15px;
			font-weight: 200;
			color: #000000;
			word-spacing: -1.5px;

			@media (max-width: 500px) {
				font-size: 17px;
			}

			a {
				position: relative;
				top: -2px;
				color: $blue-color;
				text-decoration: underline;
			}
		}

		button {
			position: relative;
			padding: 7px 26px;
			font-family: "PT Sans", sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			background: $blue-color;
			color: #ffffff;
			border: none;
			cursor: pointer;

			@media (max-width: 500px) {
				font-size: 18px;
			}
		}
	}
}
